background-color: blueviolet;
    padding:6px ;
}
footer p {
    border: 2px violet;
    pudding: 12px:
}
nav a{
    margin: 20px;
    front-size:20px;
    color: lightsalmon;
    border: 3px darkorchid;
    border-radius: 10px;
    background-color: darkorchid;
}

